* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Lora', serif;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

.nav__link:hover {
    color: darkgrey;
}

/* Article */
h1 {
    line-height: 3.2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article h1 {
    font-size: 40px;
}

article img {
    width: 800px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

.article__quote {
    background-color: #eeeeee;
    border-left: 2px solid #333;
    padding: 2px 16px;
}

.article__quote p {
    font-size: 20px;
}

.nav__button {
    width: 24px;
    height: 24px;
    color: #fff;
    margin: 0 16px 4px;
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.nav__mobile-list {
    margin-top: 64px;
    list-style: none;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav__mobile-link:hover {
    color: #666;
}

.nav__mobile-close {
    width: 20px;
    height: 20px;
    color: #666;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 1024px) {
    .nav__button {
        display: block;
    }

    .nav__pc {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}